<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column">
            <MudAlert Severity="Severity.Error" Class="my-5">@ErrorMessage</MudAlert>
            <MudButton OnClick="@HandleClose" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
        </div>
    </DialogContent>
        
</MudDialog>


@code {
    [Parameter]
    public string? ErrorMessage { get; set; }
    [Parameter]
    public EventCallback ResetError { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    [CascadingParameter]
    public MudDialogInstance DialogInstance { get; set; } = null!;

    private void ResetError_Click()
    {
        ResetError.InvokeAsync();
    }

    private void HandleClose()
    {
        DialogInstance.Close();
    }
}
