GymOffice.Business/bin/
GymOffice.Business/obj/
GymOffice.DataAccess.SQL/bin/
GymOffice.DataAccess.SQL/obj/
GymOffice.Common/bin/
GymOffice.Common/obj/
.vs/
GymOffice.WebAdmin/obj/
GymOffice.WebAdmin/bin/
GymOffice.UnitTests/bin/
GymOffice.UnitTests/obj/
/customer-cabinet-react/node_modules/
/GymOffice.VisitorCabinet/bin/
/GymOffice.VisitorCabinet/obj/
