@*<h5 class="alert alert-danger my-4">@ErrorMessage</h5>

<button class="btn btn-primary mt-3" @onclick="ResetError_Click">Back</button>
*@
<MudAlert Severity="Severity.Error" Class="m-5">@ErrorMessage</MudAlert>

<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ms-5" OnClick="ResetError_Click">Back</MudButton>

@code {
    [Parameter]
    public string? ErrorMessage { get; set; }
    [Parameter]
    public EventCallback ResetError { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    private void ResetError_Click()
    {
        ResetError.InvokeAsync();
    }

}
