<AuthorizeView>
    <Authorized>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="d-flex flex-row justify-content-end">
            <MudText Typo="Typo.subtitle1" Class="d-flex flex-row text-light">
                <a class="nav-link text-light" href="Identity/Account/Logout">Log out</a>
            </MudText>
        </MudContainer>
    </Authorized>
    <NotAuthorized>
        <MudLink Color="Color.Default" Href="Identity/Account/Login">Log in</MudLink>
    </NotAuthorized>
</AuthorizeView>
