@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.inside {
    z-index: 9;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
    right: -8px;
    border-radius: 200px;
    background-color: rgb(215, 215, 215);
    transition: all 0.5s, border-radius 1s;
    overflow: hidden;
}
.inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: black;
    opacity: 1;
}
.inside:hover {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    right: 0;
    top: 0;
    height: 80%;
}
.inside:hover .icon {
    opacity: 0;
}
.inside:hover .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
}
.inside .contents {
    height: 100%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
}
.button{
    width: 100%;
    bottom: 10px;
}

.abonnementCard{
    margin-top: 50px;
    box-shadow: 0.5px 0.5px 50px rgb(214, 214, 214);
    min-height: 550px;
}
.abonnementCard img{
    height: 100%;
}
@media (max-width: 768px) {
    .abonnementCard{min-height:450px;}
  }
  
  @media (max-width: 420px) {
    .abonnementCard{min-height:350px;}
  }


.divider {
    background-color: #7447cf;
    height: 3px;
    margin-top: 4%;
}
.divider span {
    display: block;
    width: 50px;
    height: 3px;
    background-color: #7447cf;
}
