*
{
    -webkit-box-sizing:border-box;   
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
.coachCard
{
    width:300px;
    min-height: 300px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s ease-in-out;
    overflow: visible;
}
.coachCard > div 
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.coachCard:hover 
{
    transform:rotateY(180deg);
}
.coachCard .front 
{
    z-index: 2;
    backface-visibility: hidden;
}
.coachCard .back
{
    z-index:1;
    transform:rotateY(180deg);
    backface-visibility: hidden;
}
.coachInfo
{
    min-height: 300px;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
}
.coachInfoItem{
    padding-left: 10px;
}
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1218 {
  font-family: 'Raleway', Arial, sans-serif;
  overflow: hidden;
  color: #333;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  height: 100%;
}
figure.snip1218 * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1218 img {
  max-width: 100%;
  height: 230px;
}
figure.snip1218 .image {
  position: relative;
  z-index: 1;
}
figure.snip1218 figcaption {
    height: 100%;
  background-color: #ffffff;
  padding: 18px;
}
figure.snip1218 h3 {
  text-transform: uppercase;
  font-weight: 400;
}
ul {
    list-style-image: url('https://api.iconify.design/mdi/school-outline.svg');
  }
figure.snip1218 h3 span {
  font-weight: 800;
}