@attribute [Authorize(Roles = "Admin")]

<MudPaper Class="mb-5 pa-5 flex-grow-1">
    <MudGrid Class="justify-s">
        <MudItem xs="12" sm="6">
            <div class="d-flex flex-row gap-4">
                <MudTextField Label="Title" Variant="Variant.Outlined" Margin="Margin.Dense"
                              @bind-Value="SearchOptions.Title" For="@(() => SearchOptions.Title)" />
            </div>
        </MudItem>
        <MudItem sm="2"></MudItem>
        <MudItem xs="12" sm="2">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth Class="mb-4"
                       OnClick="(() => HandleSearch_Click.InvokeAsync(SearchOptions))">Search</MudButton>
        </MudItem>
        <MudItem xs="12" sm="2">
            <MudButton Variant="Variant.Filled" Color="Color.Default" FullWidth
                       OnClick="(() => HandleResetSearch_Click.InvokeAsync())">Reset</MudButton>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {
    [Parameter]
    public AdvantageSearchOptions SearchOptions { get; set; } = null!;
    [Parameter]
    public EventCallback<AdvantageSearchOptions> HandleSearch_Click { get; set; }
    [Parameter]
    public EventCallback HandleResetSearch_Click { get; set; }
}
