@page "/"

<PageTitle>GymOffice</PageTitle>

<p align="center"><image src="/GymOffice.png" alt="GymOffice app logo"></image></p>
<h3 align="center"><br>Go to home of:</h3>
<h5 align="center"><a href="/admin/home">Administrator</a></h5>
<h5 align="center"><a href="/receptionist/home">Receptionist</a></h5>
<h5 align="center"><a href="/coach/home">Coach</a></h5>

